
img {
    display: block;
    margin: 0 auto;  /* Căn giữa theo chiều ngang */
    max-width: 100%;
    height: auto;
    filter: drop-shadow(1px 1px 20px rgb(238, 223, 57));
    border-radius: 30px;
} 
#bd {
    text-align: center;
    font-size: 25px;
    color: rgb(238, 223, 57);
}
p {
    font-family: serif ;
    font-size: 18px;
}